<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="https://jakarta.ee/xml/ns/jakartaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee
                             https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd"
         version="5.0">

    <display-name>Airline Cargo System</display-name>

    <servlet>
        <servlet-name>BookingServlet</servlet-name>
        <servlet-class>com.cargo.web.BookingServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>BookingServlet</servlet-name>
        <url-pattern>/BookingServlet</url-pattern>
    </servlet-mapping>

    <!-- Status Servlet -->
    <servlet>
        <servlet-name>StatusServlet</servlet-name>
        <servlet-class>com.cargo.web.StatusServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>StatusServlet</servlet-name>
        <url-pattern>/StatusServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>UpdateServlet</servlet-name>
        <servlet-class>com.cargo.web.UpdateServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>UpdateServlet</servlet-name>
        <url-pattern>/UpdateServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>CancelServlet</servlet-name>
        <servlet-class>com.cargo.web.CancelServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>CancelServlet</servlet-name>
        <url-pattern>/CancelServlet</url-pattern>
    </servlet-mapping>

    <!-- Define WSServlet to expose SOAP endpoint -->
    <servlet>
        <servlet-name>CargoService</servlet-name>
        <servlet-class>com.sun.xml.ws.transport.http.servlet.WSServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>CargoService</servlet-name>
        <url-pattern>/CargoService</url-pattern>
    </servlet-mapping>

    <listener>
        <listener-class>com.sun.xml.ws.transport.http.servlet.WSServletContextListener</listener-class>
    </listener>

</web-app>
